.siyuan-drawio-plugin {
    &__custom-tab {
        background-color: var(--b3-theme-background);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
}

.plugin-drawio__custom-dock .b3-list-item {
    .fileicon {
        display: none;
        margin-left: 4px;
    }

    &:hover .fileicon {
        display: inline;
    }

    svg {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.w-full {
    width: 100%;
}

.b3-list-item {
    &__content {
        overflow: hidden;
        white-space: nowrap;
    }
    &__operate {
        flex: none;
    }
}

.align-between {
    display: flex;
    // justify-content: space-between;
}